html {
    font-family: sans-serif;
}
html, header, body, main {
    margin: 0em;
    padding: 0em;
}
footer {
    background-color: green;
}
main {
    padding: 2em;
}
header {
    background-color: green;
    margin-top: -1.4em;
}